@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.siteHeader{
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(to right, red, orange, orange, yellow);
  background-size: 400%;
  animation: gradientIn 1s;
}

@keyframes gradientIn{
  0%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}

.subHead1{
  animation: fadeIn 3s;
  margin-right: 5px;
}

.subHead2{
  animation: fadeIn2 3s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeIn2{
  0%{
    opacity: 0;

  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.mainNavBar{
  display: flex;
  justify-content: left;
  background-color: #f5d09d;
  border-top: solid black 4px;
  border-bottom: solid black 4px;
}

.mainNavElm{
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.mainNavElm::before{
  position: absolute;
  background-color: blue;
  border-left: solid black 2px;
  border-right: solid black 2px;
  content: "";
  width: 50%;
  height: 100%;
  top:0%;
  left:25%;
  z-index: -1;
  border-radius: 30px;
  transition: 0.8s;
  opacity: 0;
}

.mainNavElm:hover::before{
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: .75;
}

.mainNavLink{
  text-decoration: none;
  color: black;
}